.nav__container {
  display: flex;
  justify-content: space-between;
  background-color: #FFEAB8;
  padding: 1em;
}

.logo {
  width: 100px;
}

.skip_link {
  background: #e77e23;
  left: %50;
  padding: 8px;
  position: absolute;
  transform: translateY(-170%);
  transition: transform 0.3s;
}

.skip_link:focus {
  transform: translateY(0%);
}

nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: darkslategray;
}